body{
  font-family: 'Montserrat';
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Ubuntu';
}
p{
  color: #8f8f8f;
}

/* heading text */
.heading-text{
  font-family: 'Montserrat';
  font-size: 3rem!important;
  line-height: 1.5!important;
}

.container{
  padding: 7% 15%!important;
}

/* navbar */

.navbar{
  padding-bottom: 3rem!important;
}
a.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat'
}
.download-button{
  margin:5% 3% 5% 0;
}

/* title section */
#title{
  background-color: #ff4c68;
  color: #fff;
}
#title .container{
  padding: 3% 15% 7%!important;
}

/* Title images */
.title-image{
  transform: rotate(30deg); /* Equal to rotateZ(45deg) */
  /* margin-left: 10%; */
  margin-bottom: 5%;
  position: absolute;
  width: 20%;
}

/* features */
.feature-title{
  font-size: 2rem;
}
#features{

  background-color: #fff;
  position: relative;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* testimonials */
.testimonial-text{
  font-size: 2.5rem!important;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 40px;
}
#testimonials{
  background-color: #ef8172;
  text-align: center;
}
.testimonials-img{
  width: 10%;
  border-radius: 100%;
}

/* press */
#press{
  background-color: #ef8172;
}
.press-img{
  width:15%;
  margin: 0 3%;
}

/* pricing */
#pricing{
  text-align: center;
  padding: 5% 9%;
}

.pricing-text{
  color: black;
}
.card{
  width: 22rem!important;
  padding: 3% 0;
  margin: 3% auto ;
}

/* cta */
#cta{
  background-color: #ff4c68;
  text-align: center;
}
.h3_cta{
  font-family: "Ubuntu";
  font-size: 3rem;
  color: #fff;
  margin: auto 20%;

}

/* footer */
#footer{
  padding: 7% 15%;
  text-align: center;
}
.footer-ico{
  margin: 1% 1%;
}

@media(max-width: 1000px){
  .title-image{
    width: 30%;
    transform: rotate(0);
  }
}
